* {
	box-sizing: border-box;
}
body {
	font-family: Verdana, Arial, sans-serif;
      background-color: rgb(41, 120, 72);
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;	
	justify-content: space-around;
}
li {
	padding: 5px;
	background-color: rgb(230, 55, 116);
	border: 2px solid black;
}
.banner {
	background-color: #333333;
	padding: 10px;
}
li a {
	text-align: center;
	padding: 20px;
	text-decoration: none;
	color: white;
}
h1 {
	text-align: center;
	font-size: 24px;
}
.good:after {
	clear: both;
	content: "";
	display: table;
}
.col {
	padding: 5px;
	float: left;
}
.left {
	width: 30%;
	height: 430px;
	background-color: #aaaaaa;
}
.middle {
	width: 2%;	
	height: 430px;
}
.right {
	width: 64%;
	height: 430px;
}
h5 {
	text-align: center;
	font-size: 16px;
}
p {
	text-align: center;
	font-size: 10.8px;
	color: rgb(55, 55, 55);
}
.ph {
	font-size: 12.35px;
	color: black;
}
h3 {
	margin-bottom: 10px;
}
.borpre {
	overflow: hidden;
	display: flex;	
	justify-content: space-around;
}
.bor {	
	text-align: center;
 	font-size: 14px;
	border: 2px dashed black;
	padding: 3px;
}
.leftt {
	width: 30%;
	height: 300px;
	background-color: #aaaaaa;
	border: 1px solid black;
}
.middlet {
	width: 2%;	
	height: 300px;
}
.rightt {
	width: 64%;
	height: 300px;
}
.size {

}
img {
	width: 100%;
	height: 32.5%;
}
.red {

}
input, textarea {
	width: 100%;
}
.gre {
	background-color: green;
}
.ree {
	background-color: red;
}
@media (max-width: 1100px) {
	.nahhhhhh {
		opacity: 0;
	}
	.size {
		font-size: 20px;
	}
}
@media (min-width: 920px) {
	.size {
		padding: 4px;
	}
}
@media (max-width: 920px) {
	.nahhhhhhhh {
	opacity: 0;
}
	.nahhhhhhhhhhh {
		opacity: 0;
	}
	.size {
		font-size: 15px;
	}
}
@media (min-width: 750px) {
	.nah {
	opacity: 0;
}
	.nahh {
		opacity: 0;
	}
	.size {
		font-size: 15px;
	}
	.left, .middle, .right {
	height: 480px;
}
}
@media (max-width: 750px) {
	.left, .middle, .right {
	height: 500px;
}
	.size {
		font-size: 14px;
	}
	.nah {
	opacity: 0;
}
	.nahh {
	opacity: 0;
}
}
@media (max-width: 600px) {
	.left, .middle, .right {
	height: 570px;
}
	.size {
	font-size: 14px;
}
	.rightt {
	width: 63%;
}
	.red {
	color: red;
}
	.sizes {
	font-size: 8px;
}
	.nahh, .nah {
	opacity: 1;
}
	img {
	height: 24%;
}
}

u {
	color: #00008B;
	cursor: pointer;
}

.account {
	text-align: center;
	padding: 20px;
	text-decoration: none;
	color: white;
}

footer {
	bottom: 0;
	left: 0;
	position: fixed;
	padding: 5px;
	font-size: 10px;
}