<!DOCTYPE html>
<html lang="en">
<head>
<title>Goated Casino</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'cascade.css' %}">
<link rel="shortcut icon" type="image/png" href="favicon-16x16.png">
</head>
{% csrf_token %}
<body>
<style>
.container {
    position: fixed;
    left: 30px;
    padding: 0;
    margin: 0;
}

.left-element {
    color:white;
    display: inline-block;
    float: left;
}

.right-element {
    color: white;
    display: inline-block;
    float: left;
    margin-left: 10px;
}
</style>
<div>
  <nav>
    <ul class="banner">
      <div class="container">
        <div class="left-element" id="username">
          {{ user.user_name }}
        </div>
        <div class="right-element" id="chipcount">
          {{ user.chip_count }}
        </div>
      </div>
      <li id="left"><a href="index">Goated Casino</a></li>
      <li id="right"><a href="earn">EARN</a></li>
    </ul>
    <br><br>
  <ul>
         <li><a href="index">HOME</a></li>
         <li><a href="play">PLAY</a></li>
         <li><a href="rehab">REHAB</a></li>
  </ul>
   </nav>
<br>
</div>

  <div class="earn"></div>
  <img src="{% static 'truck-modified.png' %}" alt="truck" class="truck">
  <img src="{% static 'beer-modified.png' %}" alt="trashhh" class="trashhh">

  <button id="trashy">Grab That Trash!</button>
  
  <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    document.addEventListener("DOMContentLoaded", function() {
        var x = document.querySelector('.earn');
        // For the whole background
        var trashy = document.getElementById('trashy');
        // THis is the button
        var trashImage = document.querySelector('.trashhh');
        // THis is for the beer can
        // Setting empty pre req reset and 33.55 seconds
        var round;
        var animationPaused = true;
        var position = 0;
        // Some further explanation on this, it's just so funny that it takes forever
        var animationDuration = 33550;

        function moveAlong() {
          // This is the 2nd most important. It moves the background ever so slightly to the left on x axis.
          // When process is complete it'll also show the beer can and show the button to pick up the trash, also reset round
            position -= 5;
            x.style.backgroundPositionX = position + 'px';
            if (position <= -x.offsetWidth) {
                clearInterval(round);
                animationPaused = true;
                trashy.style.display = "block";
                trashImage.style.display = "block";
            }
        }

        function startTrashGame() {
          // Most important function here, this is running the other function over and over until it's complete
            round = setInterval(moveAlong, 10);
            setTimeout(function() {
                clearInterval(round);
                animationPaused = true;
                trashy.style.display = "block";
                trashImage.style.display = "block";
            }, animationDuration);
        }

        trashy.addEventListener('click', function() {
          var beerPresent;
          if (trashImage.style.display == "block"){
              beerPresent = true;
            }
          // This is what happens on click. It gets the whole thing rolling and hides what needs to be hidden.
            if (animationPaused) {
                position = 0;
                x.style.backgroundPositionX = position + 'px';
                startTrashGame();
                animationPaused = false;
                trashy.style.display = "none";
                trashImage.style.display = "none";
            }

            if (beerPresent){
              addChips(100) // Add chips to player
            }

        });
    });

    async function addChips(chipCount){

        chips = chipCount;
        data = {
            'chips' : chips,
            'isPositive' : true // always positive chips (reusing code)
        };

        config = {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body : JSON.stringify(data)
        };

        const response = await fetch('/updateChips', config);
        jsonresponse = await response.json();
        console.log(jsonresponse);


        document.getElementById("chipcount").innerHTML = jsonresponse.chips
    }
</script>

<!-- 33550 is the time for the game to leave screen -->

</body>
<br>
<footer>
Copyright &copy; Kind Of Team 4
</footer>
</html>